/* 设置整个页面的背景色为黑色，文本为白色 */
body {
  width: -webkit-fill-available;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  background-color: #000; /* 设置背景为黑色 */
  color: white; /* 设置文本为白色 */
}

/* header 样式 */
header {
  text-align: center;
  flex-grow: 0;
}

#head {
  background-image: linear-gradient(to top, #537895 0%, #09203f 100%);
}

/* 调整导航栏的 item 样式 */
#nav .item {
  display: inline-block;
  width: -webkit-fill-available;
}

h1 {
  display: inline-block;
}

#title {
  padding: 5rem 0;
}

#menubtn {
  margin-top: 3rem;
}

/* main 区域样式，设置为黑色背景 */
main {
  flex-basis: auto;
  flex-grow: 1;
  padding: 2rem 0;
  background-color: #121212; /* 黑色背景 */
  background-image: none; /* 移除现有背景图 */
}

/* 修改 .container 样式 */
main .container {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
}

/* .segment 样式 */
main .segment {
  flex-grow: 1;
  margin: 0 !important;
}

.segment h4 {
  padding-bottom: .5rem !important;
}

/* footer 样式 */
footer {
  flex-grow: 0;
}

.footer {
  padding: 1rem 0;
  text-align: center;
  background-color: #222; /* 深灰色背景 */
}

/* 卡片样式 */
.card {
  padding: .5rem;
}

/* #seller 样式 */
#seller .list {
  padding: 0 5rem;
}

/* 在小屏幕上的样式 */
@media screen and (max-width: 479px) {
  p {
    width: -webkit-fill-available;
    text-align: center;
    line-height: 1.5rem;
    word-wrap: break-word;
  }
}
